@{
    ViewBag.Title = "Home Page";
}


<div class="text-center mb-5">
    <h1 class="display-4">Welcome to Bliss Academy</h1>
    <p>Learn about proficient backend development in a company environment.</p>
</div>
<div class="mt-5">
    <h2 class="display-6">What's in the program?</h2>
    <ul>
        <li>CSharp (C#)
            <ul>
                <li>Basics</li>
            </ul>
        </li>
        <li>ASPNet Core - MVC</li>
    </ul>
</div>